/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}
/*SHARED*/
:root {
    --black: rgb(14, 14, 14);
    --white: rgb(245, 245, 245);
    --header-font-size: 1.6rem;
    --aside-font-size: 1.8rem;
    --main-tile-title-font-size: 2.5rem;
    --main-overlay-title-font-size: 1.8rem;
    --main-overlay-text-font-size: 1.5rem;
    --tile-text-font-size: 1.6rem;
    --tile-img-width: 40rem;
}
.grid {
    display: grid;
}
.flex {
    display: flex;
}
.aside a {
    text-decoration: none;
}
/*BIG CONTAINER*/
.big-container {
    grid-template-columns: 7% 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:    "header header"
                            "aside main";
    min-height: 100vh;
}
/*HEADER*/
.header {
    grid-area: header;
    width: 100%;
    padding: 0 1rem 0 1rem;
    box-shadow: 0px 0px 8px 4px #aaaaaa;
    z-index: 2;
}
.header-nav {
    justify-content: space-between;
    align-items: center;
}
.header-logo-container img {
    width: 12rem;
}
.header-profile-container span{
    font-size: var(--header-font-size);
    font-weight: bold;
    margin-right: 10px;
    position: relative;
    top: 1rem;
    color: var(--black);
}
.header-profile-container::after {
    content: " ▼";
    font-size: var(--header-font-size);
    position: relative;
    top: 1rem;
    right: 0.5rem;
    color: var(--black);
}
.header-profile-image-container img{
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
}
.header-input-container {
    border: 0.15rem grey solid;
    border-radius: 1rem;
    width: 50rem;
    padding: 0.7rem;
}
.header-input {
    border: none;
    width: 100%;
    outline: none;
}
/*MAIN*/
.main {
    grid-area: main;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 99%;
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-columns: repeat(1fr); */
}
/* .main-section:nth-child(2){
    position: relative;
    bottom: 8rem;
}
.main-section:nth-child(3){
    position: relative;
    bottom: 16rem;
} */
.main-tile-row {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.main-tile a{
    color: var(--white);
}
.tile-image-container {
    position: relative;
    display: inline-block;
}
.tile-image-container img{
    width: var(--tile-img-width);
    display: block;
}
.main-tile-title {
    font-size: var(--main-tile-title-font-size);
    margin-bottom: 1rem;
    font-weight: 700;
}
.main-overlay {
    background-color: rgba(13, 158, 20,0.8);
    width: var(--tile-img-width);
    padding: 1rem;
    position: absolute;
    top: 65.5%;
    left: 0;
    right: 0;
}
.main-overlay span {
    font-size: var(--main-overlay-text-font-size);
}
.main-overlay-title {
    font-size: var(--main-overlay-title-font-size);
    text-align: center;
    text-decoration: underline;
}
/*ASIDE*/
.aside {
    background: linear-gradient(90deg, rgb(13, 158, 20) 0%, rgba(35,194,3,1) 100%);
    grid-area: aside;
    z-index: 2;
    padding: 0 1rem 1rem 1rem;
}
.aside-icon-container {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.aside-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.aside-icon img {
    height: 5rem;
}
.aside-icon span{
    color: var(--white);
    font-size: var(--aside-font-size);
    font-weight: bold;
    text-align: center;
}
.aside-bottom-icon {
    display: relative;
    bottom: 10px;
}
/*MEDIA QUERIES*/
@media (max-width: 1366px) {
    .big-container {
        grid-template-columns: 12% 1fr;
    }
}
@media (max-width: 800px) {
    .header-input-container {
        width: 40rem;
    }
    .big-container {
        grid-template-columns: 15% 1fr;
    }
}
@media (max-width: 720px) {
    .header-input-container {
        width: 25rem;
    }
    .aside-icon img {
        height: 4rem;
    }
}
@media (max-width: 640px) {
    .header-input-container {
        width: 15rem;
    }
    .big-container {
        grid-template-columns: 17% 1fr;
    }
    :root {
        --aside-font-size: 1.6rem;
        --tile-img-width: 35rem;
        --main-overlay-title-font-size: 2rem;
        --main-overlay-text-font-size: 1.6rem;
        --main-tile-title-font-size: 2.2rem;
    }
    .main-overlay {
        top: 55%;
        padding: 0.4rem;
    }
    .aside-icon img {
        height: 3.5rem;
    }
}
@media (max-width: 480px) {
    .header-input-container {
        display: none;
    }
    .big-container {
        grid-template-columns: 20% 1fr;
    }
    :root {
        --aside-font-size: 1.4rem;
        --tile-img-width: 20rem;
        --main-overlay-title-font-size: 1.5rem;
        --main-overlay-text-font-size: 1.2rem;
        --main-tile-title-font-size: 2rem;
    }
    .aside-icon img {
        height: 3rem;
    }
    .main-overlay {
        top: 37%;
        padding: 0.4rem;
    }
    .main-tile-row {
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-grow: 0;
        flex-shrink: 1;
    }
}